.input {
  display: inline-block;
  width: 300px;
  height: 24px;
  font: inherit;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 4px;
  color: black;
}
.input::placeholder {
  font: inherit;
  font-size: 16px;
  padding: 4px;
}

.button {
  padding: 2px;
  display: inline-block;
  width: 56px;
  height: 28px;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
}

.button:hover {
  opacity: 1;
}
.finder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.finded {
  display: block;
  margin-left: 12px;
}
.list {
  padding: 0;
}
